/* for main-content */

@media (max-width:1200px) {
    .main-content h1 {
        font-size: 40px !important;
    }

    .main-content a {}
}

@media (max-width:768px) {
    .main-content h1 {
        font-size: 20px !important;
    }

    .main-content {
        text-align: center;
    }

}